@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Unica One', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.SimpleSlider {
  height: 100vh;
  width: 100vw;
}

.slick-slider {
  color: #775F52;
  background-color: #D9B9AC;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slick-slider, .slick-list, .slick-track, .slick-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Home UH Background*/
.HomeSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.HomeSlide::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%; /* Adjusted for consistent half overlap */
  background-image: url('./img/UH.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/*Home Circle Image*/
.HomeCircle {
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translateY(-50%);
  width: 15vw; /* Start with a responsive width */
  max-width: 200px;
  min-width: 100px;
  border-radius: 50%;
  z-index: 2;
}

@media (max-width: 768px) {
  .HomeCircle {
    right: 15%; /* Increase overlap on smaller screens */
    width: 25vw; /* Increase size to maintain visual balance */
  }

  .HomeCircle img {
    width: 100%;
    height: auto;
  }
}

/*Home Cafe Image*/
.HomeCoffee img {
  position: absolute;
  margin-top: -1%;
  margin-left: 10px;
  height: 60%;
  width: auto;
  left: 0; /* Align the image to the left edge of the container */
}

/*Home Button*/
.HomeButton{
  position: relative;
  top: calc(58% + 10px);
  left: 10px;
  width: 30%;
}

#resumeButton, #LearnAbtWebsite {
  font-family: 'Unica One', sans-serif;
  line-height: 1.2;
  background-color: #C5A495;
  color: #775F52;
  font-weight: bold;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block; /* Allows setting dimensions */
  font-size: 20px;
  margin: 4px 2px; /* Adds some space around the button */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#resumeButton{
  padding: 20px 14vh 15px;
}

#LearnAbtWebsite {
  padding: 20px 9vh 15px;
}

#resumeButton:hover, #LearnAbtWebsite:hover {
  background-color: #b39585;
}

@media (max-width: 768px) {
  .HomeCoffee img {
    width: 30%;
    height: auto;
  }

  /* Ensure buttons container width matches .HomeCoffee img width */
  .HomeButton {
    width: 30%;
    top: calc(50% + 10px);
  }

  #resumeButton, #LearnAbtWebsite {
    width: 100%; /* Make buttons fill the container */
    padding: 15px 0; /* Adjust padding as needed */
    font-size: 16px;
    display: block;
    margin: 10px 0;
  }
}


/*Home Font*/
.slick-slide h3 span {
  margin-right: 20%;
  text-align: left;
  font-size: 30px;
  padding: 10px;
  padding-right: 57%;
  margin: 10px;
  margin-top: auto;
  margin-bottom: 0;
  display: inline-block;
  line-height: 1.2;
  z-index: 1;
}

.HomeSlide h3 span{
  background-color: #C5A495;
}

/* Ensuring text stays within its box at smaller screen sizes */
@media (max-width: 768px) {
  .slick-slide h3 span {
    font-size: 25px; /* Smaller font size */
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
  }

  .HomeSlide h3 span{
    padding-right: 42%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
  }
}

/*Slide Show Arrows*/
/* Adjusting button sizes and positions for responsiveness */
.SimpleSlider .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 100;
}

.SimpleSlider .button:hover {
  color: #ddd;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.SimpleSlider .button.previous {
  left: 10px;
}

.SimpleSlider .button.next {
  right: 10px;
}

/*Home Page Project Timeline*/
.Timeline {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

/*About Me Font*/
.TimelineAboutMe h3 {
  font-size: 80px;
  font-weight: normal;
  text-align: center;
  margin: 15px 0 0 0;
}

/*Timeline Links Navbar*/
.Timeline-Links {
  display: flex; /* Use flexbox to layout children inline */
  justify-content: space-around; /* Distribute space evenly around items */
  align-items: center; /* Align items vertically */
}

.Timeline-Links h3 {
  margin: 10px 0 0 0; /* Remove default margin to control spacing precisely */
  font-size: 45px;
  font-weight: normal;
  color: #C5A495;
}

.Timeline-Links a {
  color: #C5A495;
  text-decoration: none; /* Removes underline from links */
}

@media (max-width: 768px) {
  .TimelineAboutMe h3{
    font-size: 30px;
  }

  .Timeline-Links h3{
    font-size: 25px;
  }
}

/*Timeline Image*/
.Timeline-Img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh;
}

.Timeline-Img img{
  width: 90%;
  height: auto;
}

/*Project Title*/
.Timeline-Project{
  margin-left: 13vh; /* Remove default margin to control spacing precisely */
  font-size: 20px;
  font-weight: normal;
  color: black;
}

@media (max-width: 768px) {
  .Timeline-Project{
    font-size: 15px;
    margin-left: 9vh;
  }
}

/*Research Slide*/
.ResearchSlide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Research Image*/
.ResearchSlide .research-img {
  display: flex;
  justify-content: flex-end; /* Aligns child to the right */
  margin-right: 9vh;
  align-items: center; /* Centers child vertically if you need */
}

.ResearchSlide .research-img img{
  width: 23%;
}

@media (max-width: 768px) {
  .ResearchSlide .research-img img{
    width: 30%;
  }
}

.ExtraCurrSlide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}