@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Unica One', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.SimpleSlider {
  height: 100vh;
  width: 100vw;
}

.slick-slider {
  color: #775F52;
  background-color: #D9B9AC;
  overflow: hidden;
}

.slick-slider, .slick-list, .slick-track, .slick-slide > div {
  min-height: 100vh;
}

.slick-slide h3 {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

.slick-slide h3 span {
  text-align: left;
  font-size: 30px;
  padding: 20px;
  margin: 5px;
  display: inline-block;
}

/* Styles specific to slider buttons */
.SimpleSlider .button {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 30px; /* Adjust size as needed */
  color: #FFFFFF; /* Arrow color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 100;
}

.SimpleSlider .button:hover {
  color: #ddd; /* Color on hover */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

/* Position the "Previous" button on the left */
.SimpleSlider .button.previous {
  left: 10px;
}

/* Position the "Next" button on the right */
.SimpleSlider .button.next {
  right: 10px;
}

.Timeline {
  height: 100vh;
  width: 100vw;
  background-color: white;
  /* Add more styling here if needed */
}