@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.cmdPrompt {
    background-color: #E4CEC1;
    color: #383838;
    padding: 20px;
    font-family: 'Unica One', sans-serif;
    line-height: 1.2;
    width: 46%;
    min-height: 300px;
    margin-top: -3px;
    margin-left: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cmdOutput {
    white-space: pre-line;
    overflow-y: auto;
}

.cmdInput {
    width: 98%;
    background-color: #E4CEC1;
    color: #383838;
    border: none;
    font-family: 'Unica One', sans-serif;
    line-height: 1.2;
    resize: none;
}

@media (max-width: 768px) {
    .cmdPrompt{
        margin-top: -3px;
        margin-left: 24vh;
    }
  }
  