*{
    font-size: 18px;
}
.stylecmdprompt {
    background-color: #F6E7E1;
    padding: 1px 0 0 0;
    width: 47%;
    margin-left: 27%;
    max-height: 600px;
    overflow: hidden;
}

.stylecmdprompt > h3 {
    margin: 10px 0 6px 10px;
}

.cmdPromptContainer {
    background-color: #E4CEC1;
    color: #383838;
    padding: 10px;
    font-family: 'Unica One', sans-serif;
    line-height: 1.2;
    min-height: 515px;
    max-height: 515px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cmdPrompt {
    margin-top: 10px;
}

.cmdOutput {
    white-space: pre-wrap;
    overflow-y: scroll;
    max-height: 400px; /* Keeps internal scrolling */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cmdOutput::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.cmdInputContainer {
    display: flex;
    align-items: center;
}

.cmdPrefix {
    background-color: #E4CEC1;
    color: #383838;
    padding-right: 4px;
}

.cmdInput {
    width: 100%;
    background-color: #E4CEC1;
    color: #383838;
    border: none;
    font-family: 'Unica One', sans-serif;
    line-height: 1.2;
    outline: none;
}

@media (max-width: 768px) {
    .cmdPromptContainer {
        width: auto;
        margin-left: 0;
        padding: 20px;
        min-height: 354px;
        max-height: 354px;
    }
}
