body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin: 0;
}

.icon-timeline-container {
   position: fixed;
   left: 80px;
   bottom: 20px;
   width: 50px;
   height: 50px;
   background-color: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   border-radius: 9px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
 }
 
.tooltip {
   position: absolute;
   top: -30px; /* Adjust based on your layout */
   left: 50%;
   transform: translateX(-50%);
   background-color: #984c04;
   color: white;
   padding: 5px;
   border-radius: 4px;
   font-size: 12px;
   white-space: nowrap;
}

.icon-timeline-container .timeline-icon img{
   padding: 10px;
   margin-top: 5px;
   width: 100%;
   height: 100%;
 }

.autoProjectTimeLine {
   background: #fff;
   border-radius: 7px;
   box-shadow: 0 2px 5px #ccc;
   padding: 10px;
   width: 240px;
   margin: 16px;
   float: center;
}

form {
   position: relative;
   width: 480px;
   margin: -20% auto auto -30px;
   background: #fff;
   padding: 15px;
   border-radius: 7px;
   box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.form-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 10;
 }

form input, form textarea {
   width: 100%;
   border: none;
   padding: 5px;
   outline: none;
   font-size: 1.2em;
   font-family: inherit;
   resize: none;
}

form button {
   font-family: 'Unica One', sans-serif;
   position: absolute;
   right: 18px;
   bottom: -10px;
   background: #ab9184;
   color: white;
   border: none;
   border-radius: 20%;
   width: 70px;
   height: 40px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
   cursor: pointer;
   outline: none;
}

.project-timeline {
   position: relative;
   height: 2cm;
   width: 100%;
   display: flex;
   align-items: center;
   overflow: visible;
 }

 .timeline-vertical {
   background-color: #AB9184;
   width: 5px;
   height: 100%;
   position: absolute;
   transform: translateX(-50%);
   overflow: hidden;
 }

 .timeline-horizontal-left{
   background-color: #AB9184;
   width: 20%;
   height: 5px;
   position: absolute;
   top: 50%;
   left: -20%;
   transform: translateY(-50%);
 }
 
 .timeline-horizontal-left span {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 10px;
  border-radius: 5px;
  white-space: normal;
  margin-right: 10px;
  max-width: 300px;
  min-width: 300px;
  text-align: left;
}

@media (max-width: 768px) {
  .timeline-horizontal-left span {
    top: 500%;
    right: 50%;
    max-width: 300px;
    min-width: 250px;
    font-size: small;
  }
}

.timeline-horizontal-right {
  background-color: #AB9184;
  width: 20%;
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-horizontal-right span{
  position: absolute;
  left: 100%;
  top: 500%;
  transform: translate(0%, -50%);
  padding: 10px;
  border-radius: 5px;
  white-space: normal;
  margin-right: 10px;
  max-width: 300px;
  min-width: 300px;
  text-align: left;
}

@media (max-width: 768px) {
  .timeline-horizontal-right span {
    top: 300%;
    max-width: 300px;
    min-width: 300px;
    font-size: small;
  }
}

.timeline-horizontal-left .project-date-left, .timeline-horizontal-right .project-date-right {
   position: absolute;
   top: -22px;
   transform: translateY(-100%);
   white-space: nowrap;
   background-color: #fff;
   padding: 2px 6px;
   border-radius: 5px;
 }
 
 .timeline-horizontal-left .project-date-left {
   right: -80%;
 }
 
 @media (max-width: 768px) {
  .timeline-horizontal-left .project-date-left {
    right: -130%;
  }
}

 .timeline-horizontal-right .project-date-right {
   left: 10px;
 }

 .project-date-left, .project-date-right {
   color: #C5A495;
 }

 .project-timeline{
   color: black;
 }

 .about-project-button {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
 }

 @media (max-width: 768px) {
  .about-project-button {
    padding: 5px;
    margin: 10px 6px;
  }
}