.icon-container {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
.tooltip {
    position: absolute;
    top: -30px; /* Adjust based on your layout */
    left: 50%;
    transform: translateX(-50%);
    background-color: #984c04;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
}

.icon-container .notebook-icon img{
    padding: 10px;
    width: 100%;
    height: 100%;
  }

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #ab9184;
    border: none;
    border-radius: 5px;
    width: auto;
    width: auto;
    height: auto;
    cursor: pointer;
    outline: none;
}

form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input, form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

form button {
    font-family: 'Unica One', sans-serif;
    position: absolute;
    right: 18px;
    bottom: -10px;
    background: #ab9184;
    color: #3d3531;
    border: none;
    border-radius: 20%;
    width: 70px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}